# Exercise: Pandas

1. Load dataset Salaries.csv, kemudian simpan dalam sebuah variabel bernama **df**

2. Tampilkan 7 baris pertama dari dataframe df

3. Tampilkan informasi dataframe mengenai nama-nama kolom, jumlah data yang terisi, dan tipe datanya

4. Tampilkan karyawan bernama Rosemary Lee dan pekerjaannya

5. Tampilkan nama karyawan dengan TotalPayBenefits paling besar

6. Tampilkan dataset diurutkan dari tahun paling tua, kemudian dari BasePay

7. Tampilkan missing values pada kolom BasePay day OvertimePay

8. Tampilkan jumlah baris dari dataframe df

9. Tampilkan karyawan dengan BasePay 300 ribu dollar dan OvertimePay-nya bukan 0 dollar

10. Tampilkan data karyawan yang OtherPay-nya missing (NaN)