In [1]:
import pandas as pd
import numpy as np

In [2]:
'w x y z'.split()

['w', 'x', 'y', 'z']

In [3]:
labels = ['a','b','c']
mylist = [10,20,30]

In [4]:
pd.Series(mylist)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = mylist, index = labels)

a    10
b    20
c    30
dtype: int64

In [7]:
arr = np.array([10,20,30])

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
dict = {'a':10,'b':20,'c':30}

In [10]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

Create Pandas Data Frames

In [11]:
a = [i for i in range(1,5)]
b = [i for i in range(5,9)]
c = [i for i in range(9,13)]

In [12]:
pd.DataFrame(data = [a,b,c])

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [13]:
pd.DataFrame(data = [a,b,c], index = ['a','b','c'])

   0   1   2   3
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [14]:
pd.DataFrame(data = [a,b,c], index = ['a','b','c'],columns = ['c1','c2','c3','c4'])

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8
c   9  10  11  12

In [18]:
# putar data dari row ke column
pd.DataFrame(data = list(zip(a,b,c)), columns = ['a', 'b', 'c'], index = ['i1','i2','i3','i4'])

    a  b   c
i1  1  5   9
i2  2  6  10
i3  3  7  11
i4  4  8  12

In [22]:
my_list = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]

In [21]:
my_list

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [25]:
pd.DataFrame(my_list,index='a b c'.split(), columns = 'c1 c2 c3 c4'.split())

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8
c   9  10  11  12

In [41]:
pd.DataFrame(my_list,index='a b c'.split(), columns = 'c1 c2 c3 c4'.split()).T

    a  b   c
c1  1  5   9
c2  2  6  10
c3  3  7  11
c4  4  8  12

In [44]:
np.random.seed(101)
pd.DataFrame(np.random.randn(5, 4), index='A B C D E'.split(), columns=['C1', 'C2', 'C3', 'C4'])
#, column = 'C1 C2 C3 C4'.split() ERROR

         C1        C2        C3        C4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
my_dict = {'a':[1,2,3,4], 'b':[5,6,7,8], 'c':[9,10,11,12]}

In [39]:
pd.DataFrame(my_dict)

   a  b   c
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12