In [3]:
import seaborn as sns
import pandas as pd

import numpy as np

In [6]:
x = np.arange(40).reshape(5, 8)
x[np.array([0,-3,-1]),3:6]

array([[ 3,  4,  5],
       [19, 20, 21],
       [35, 36, 37]])

In [17]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

# Membuat df2
df2 = pd.DataFrame({
    'B': ['B2', 'B3', 'B6', 'B7'],
    'D': ['D2', 'D3', 'D6', 'D7'],
    'F': ['F2', 'F3', 'F6', 'F7']
}, index=[2, 3, 6, 7])

# Menggabungkan df1 dan df2
pd.concat([df1, df2], axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3